*                           @Exeloo

/packages/core              @Tchips46
/modules/ecs                @MartinFillon @Tchips46
/modules/network            @Tchips46

/scripts                    @MartinFillon
/typedoc.*                  @MartinFillon
