name: synchronize-docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "packages/ecs-lib/docs/**"
      - "packages/ecs-lib/wasm/**"
  workflow_dispatch:

jobs:
  synchronize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout engine
        uses: actions/checkout@v5
        with:
          path: engine

      - name: Checkout docs
        uses: actions/checkout@v5
        with:
          path: docs
          repository: nanoforge-dev/docs
          token: ${{ secrets.ACTIONS_KEY }}

      - name: setup git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "username@users.noreply.github.com"

      - name: setup registry code documentation
        uses: mattnotmitt/doxygen-action@v1
        with:
          doxyfile-path: engine/packages/ecs-lib/docs/Doxyfile

      - name: synchronize docs
        run: |
          cp -r engine/packages/ecs-lib/docs engine/docs/registry/api
          mkdir -p docs/engine
          cp -r engine/docs/* docs/engine
          cd docs
          git add .
          git commit -m "chore(engine): updating docs"
          git push origin main
