name: Synchronize Docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "packages/ecs-lib/docs/**"
      - "packages/ecs-lib/wasm/**"
  workflow_dispatch:

jobs:
  synchronize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout engine
        uses: actions/checkout@v5
        with:
          path: engine

      - name: Checkout docs
        uses: actions/checkout@v5
        with:
          path: docs
          repository: nanoforge-dev/docs
          token: ${{ secrets.ACTIONS_KEY }}

      - name: setup git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "username@users.noreply.github.com"

      - name: setup registry code documentation
        run: |
          apt install doxygen -y
          cd engine/packages/ecs-lib/docs
          doxygen Doxyfile
          cd -
          cp engine/packages/ecs-lib/docs engine/docs/registry/api

      - name: synchronize docs
        run: |
          mkdir -p docs/engine
          cp engine/docs/. -r docs/engine
          cd docs
          git add .
          git commit -m "chore(engine): updating docs"
          git push origin main
