name: release

on:
  push:
    tags:
      - "v*.*.*"
      - "v*.*.*-pre"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    name: Building stack
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            CHANGELOG.md
